.viewPost {
    width: 100%;
    height: auto;
    flex-direction: column;
    background-color: #32CD32;
}

.viewPost h1 {
    padding-top: 10px;
    padding-bottom: 20px;
    font-size: 60px;
    font-family: "Lucida Sans";
    font-weight: bold;
    color: #101010;
}

.displayedPosts {
    padding-bottom: 1%;
    margin-left: 2rem;
    margin-right: 2rem;
    margin-bottom: 3.5rem;
    background-color: #B0C4DE;
    border: 1.5px solid;
    text-align: start;
}

.delete button {
    float: right;
    color: white;
    background-color: red;
    width: 7rem;
    height: 2.5rem;
    margin-right: 2rem;
    margin-top: 2rem;
    font-size: 24px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.delete button:hover {
    border: 2px solid;
    border-color: black;
}

.postHeader {
    margin-left: 2rem;
    margin-right: 2rem;
    word-wrap: break-word;
    font-size: 30px;
}

.postContainer {
    margin-left: 2rem;
    margin-right: 2rem;
    font-size: 14pt;
    word-wrap: break-word;
}

.displayedPosts h3 {
    margin-left: 2rem;
    margin-right: 2rem;
    word-wrap: break-word;
    padding-top: 15px;
    font-size: 20px;
}